fastapi
uvicorn
websockets
motor
google-genai
torch
torchaudio
numpy
faster-whisper
transformers
sentencepiece
pydantic
python-dotenv
python-multipart
soundfile
elevenlabs
pydantic
pydantic_ai
pypdf
chromadb
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
fastrtc
fastrtc[vad,stt,tts]
ollama
openai